.about {
  background: #F2F0F1;
  padding: 90px 0;
  
}
.about__container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.about__info {
  max-width: 480px;
}
.about__title {
  margin-bottom: 30px;
}
.about__text:not(:last-child) {
  margin-bottom: 38px;
  
}
.about__img {
  max-width: 580px;
  height: 330px;
}